body{
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
}
*{
  padding: 0;
  margin: 0;
}
.carouuselScetion img{
  height: 70vh;
}
@media (max-width:660px) {
  body{
    background-color: red;
  }
  
}